---
---

p {
    line-height: 28px;
}

#attribution {
    display: none;
}

h3 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.toc {
    position: absolute;
    right: 0px;
    width: 240px;
    color: blue;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 0px;
    font-size: 0.7rem;
    border-left: 2px solid #e0d9e7;
  
    display: none;
    @media (min-width: 95em){
      width: 250px;
      display: block;
    }
    @media (min-width: 100em){
        width: 300px;
        display: block;
    }
    @media (min-width: 105em){
      width: 350px;
      display: block;
    }
    @media (min-width: 110em){
        width: 400px;
        display: block;
    }
    @media (min-width: 115em){
        width: 450px;
        display: block;
    }
  
    a.toc-active {
      font-weight: bold; 
      transition: all 0.125s ease-in 0s; 
      font-size: 1rem;
      color: #9075aa;
    }
  
    ul {
      list-style-type: none;
      margin-bottom: 0.1rem;
      padding-left: 0rem;
      li {
        padding-left: .5rem;
      }
    }
  
    a {
        color: blue($color: #000000);
        text-decoration: none;
        font-size: 0.75rem;
    }
   
    a:hover {
       color: blue($color: #000000);
    }
  }

/* Add your custom style here */
@import "portfolYOU";
